@CHARSET "ISO-8859-1";

html, body {
	margin: 0;
	height: 100%;
}

#adminHeader {
	
}

#menuBar {
	
}

#messages-container {
	
}

#footer-container {
	right: 0;
	bottom: 0;
	left: 0;
	vertical-align:bottom;
	background-color: #efefef;
	text-align: center;
	position:relative;
	float:left;
	width:100%;
}

#side-bar {
	float: left !important;
	width: 25%;	
  	top: 0;
  	bottom: 0;
}

#content-container {
	float: left !important;
	top: 0;
  	bottom: 0;
	width: 75%;
}

.baseGrid.ui-panelgrid>*>tr, .baseGrid.ui-panelgrid .ui-panelgrid-cell {
	border: none;
	background: white !important; 
}


/*PRIMEFACES OVERRIDE*/

/*CUSTOM FIELDSET TO SEARCH*/
.fieldset-search{
	
}
.ui-fieldset.fieldset-search {
	padding: 0px;
	border-left:none  !important;
	margin-left:-18px;
	margin-right:-2px;
	background: white;
}

.ui-fieldset.fieldset-search .ui-fieldset-legend{
	padding: 0px;	
	margin: 0px;
	margin-bottom: -10px;	
	border-bottom: 0px;
	border-radius: 0px !important;
	background: #00a65a !important;	
	font-size: 16px;	
	color: #fff !important;
	text-shadow: none !important;
	padding-top: 0.6em;
	padding-right: 1em;
	padding-bottom: 0.6em;
	padding-left: 2em !important;
	width:100% !important;
}


.ui-fieldset.fieldset-search .ui-fieldset-content {	
	padding-left: 2em !important;
	margin-top:-1px;
	border: none;	
}
/*END OF CUSTOM FIELDSET TO SEARCH*/

.breadCrumb{	
	padding-left:30px !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
	margin: 0 auto !important; 
	width: 100% !important;	 
	
}

.ui-icon-search{
	margin-right:10px;
}

.ui-selectonemenu-filter-container{
	width:95%;
}

.ui-selectonemenu-filter{
	width:90%;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter{
	width:90% !important;
}

.ui-dialog-titlebar{
	background-color: #00a65a !important;
}

.ui-dialog-title{
	text-shadow:none !important;
}

.ui-messages {
  margin: 0px;
  padding: 0px !important;
  margin-bottom: 10px;
  height: auto !important;
  border: 0px;
  position: fixed;
  bottom: 0%;
  right: 1%;
  z-index: 9999999;
}
.ui-messages .ui-messages-info,
.ui-messages .ui-messages-warn,
.ui-messages .ui-messages-error,
.ui-messages .ui-messages-fatal {
  padding: 8px 35px 8px 14px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ui-messages .ui-messages-info-icon,
.ui-messages .ui-messages-warn-icon,
.ui-messages .ui-messages-error-icon,
.ui-messages .ui-messages-fatal-icon {
  display: none;
}
.ui-messages .ui-messages-info .ui-messages-close,
.ui-messages .ui-messages-warn .ui-messages-close,
.ui-messages .ui-messages-error .ui-messages-close,
.ui-messages .ui-messages-fatal .ui-messages-close {
  right: -20px;
  position: relative;
}
.ui-messages .ui-messages-info ul,
.ui-messages .ui-messages-warn ul,
.ui-messages .ui-messages-error ul,
.ui-messages .ui-messages-fatal ul {
  margin: 0 10px;
  margin-right: 20px;
  white-space: nowrap;
}
.ui-messages .ui-messages-info ul li,
.ui-messages .ui-messages-warn ul li,
.ui-messages .ui-messages-error ul li,
.ui-messages .ui-messages-fatal ul li {
  padding: 0 ;
  margin: 0 -15px;
}
span.ui-message-info-summary,
span.ui-message-warn-summary,
span.ui-message-error-summary,
span.ui-message-fatal-summary {
  margin-left: 0px !important;
}


.ui-message-error-icon{
	height: 0px !important;
	width: 0px !important;
	background: none !important;	
}


.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {    	
    	margin: 0px !important;
}

.ui-scrollpanel{
	border: 0 !important;
}

.ui-button{
	background-image: none !important;
	background-color: #00a65a !important;
	color:#fff !important;
	text-shadow: none !important;	
}

.ui-button:hover {
  	background-image: none !important;
	background-color: #1c7e51 !important;
	color:#fff !important;
	text-shadow: none !important;	
}



.ui-menuitem-text{
	color:#fff !important;
}

.ui-menubar{
	background: #00a65a !important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;	
	border: 1px solid #000 !important;
	border-radius: 0px !important;
}


.ui-menu-list{
	background: #00a65a !important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	border: 1px solid #000 !important;
}
.ui-helper-reset{
	border: none !important;
}

.ui-selectonemenu-trigger{
	background-image: none !important;
	background-color: #00a65a !important;
	color:#000 !important;
	text-shadow: none !important;
}

.ui-breadcrumb{
	height:0px; 
}


.ui-menuitem-active>a{
    background-image: none !important;
    background-color: #1c7e51 !important;    
}


.ui-dialog{background-color:#f5f5f5;border:#bfbfbf 1px solid;padding:0px;}.ui-dialog .ui-dialog-content{padding-left:0px;padding-right:0px;background-color:#FFF !important;}.ui-dialog .ui-dialog-content .ui-button{-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}.ui-dialog .ui-dialog-content .ui-button.ui-button-icon-only{-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.ui-dialog .ui-dialog-content table{width:98%;}
.ui-dialog .ui-dialog-titlebar{background:none;background-color:#3f547f;color:#fefefe;}.ui-dialog .ui-dialog-titlebar .ui-dialog-title{font-family:'Open Sans',Helvetica,Verdana,Arial,Sans-Serif;font-weight:normal;font-size:16px;}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover{background:none;border:0px;padding:1px;}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-minimize:hover,.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-maximize:hover,.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-close:focus,.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-minimize:focus,.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-dialog-titlebar-maximize:focus{padding:1px;}
.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-even td.left,.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-odd td.left{text-align:left !important;padding-left:3px;padding-right:5px;}
.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-even td.right,.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-odd td.right{text-align:right !important;padding-left:5px;padding-right:3px;}
.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-even td.center,.ui-dialog .ui-tabs-panel .ui-datatable .ui-datatable-odd td.center{text-align:center !important;padding-left:5px;padding-right:5px;}
.ui-dialog.detailModal .ui-dialog-content .right{border-left:#666 thin solid;}
.ui-dialog.detailModal .ui-dialog-content .left{border-right:#ccc thin solid;}

/*ICONS*/