@CHARSET "ISO-8859-1";

html, body {
	margin: 0;
	height: 100%;
}

#adminHeader {
	
}

#menuBar {
	
}

#messages-container {
	
}

#footer-container {
	right: 0;
	bottom: 0;
	left: 0;
	vertical-align:bottom;
	background-color: #efefef;
	text-align: center;
	position:relative;
	float:left;
	width:100%;
}

#side-bar {
	
}

#content-container {
	
}

.baseGrid.ui-panelgrid>*>tr, .baseGrid.ui-panelgrid .ui-panelgrid-cell {
	border: none; 
}